apiVersion: v1
kind: Secret
metadata:
  name: {{ include "airia-infrastructure-validation.fullname" . }}-auth
  namespace: {{ include "airia-infrastructure-validation.namespace" . }}
  labels:
    {{- include "airia-infrastructure-validation.labels" . | nindent 4 }}
type: Opaque
data:
  username: {{ .Values.config.auth.username | b64enc | quote }}
  password: {{ .Values.config.auth.password | b64enc | quote }}
  secret-key: {{ .Values.config.auth.secretKey | b64enc | quote }}

{{- if .Values.config.postgresql.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "airia-infrastructure-validation.fullname" . }}-postgres
  namespace: {{ include "airia-infrastructure-validation.namespace" . }}
  labels:
    {{- include "airia-infrastructure-validation.labels" . | nindent 4 }}
type: Opaque
data:
  username: {{ .Values.config.postgresql.username | b64enc | quote }}
  password: {{ .Values.config.postgresql.password | b64enc | quote }}
{{- end }}

{{- if and .Values.config.cassandra.enabled .Values.config.cassandra.username }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "airia-infrastructure-validation.fullname" . }}-cassandra
  namespace: {{ include "airia-infrastructure-validation.namespace" . }}
  labels:
    {{- include "airia-infrastructure-validation.labels" . | nindent 4 }}
type: Opaque
data:
  username: {{ .Values.config.cassandra.username | b64enc | quote }}
  password: {{ .Values.config.cassandra.password | b64enc | quote }}
{{- end }}

{{- if .Values.config.blobStorage.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "airia-infrastructure-validation.fullname" . }}-blob
  namespace: {{ include "airia-infrastructure-validation.namespace" . }}
  labels:
    {{- include "airia-infrastructure-validation.labels" . | nindent 4 }}
type: Opaque
data:
  account-key: {{ .Values.config.blobStorage.accountKey | b64enc | quote }}
{{- end }}

{{- if .Values.config.azureOpenai.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "airia-infrastructure-validation.fullname" . }}-azure-openai
  namespace: {{ include "airia-infrastructure-validation.namespace" . }}
  labels:
    {{- include "airia-infrastructure-validation.labels" . | nindent 4 }}
type: Opaque
data:
  api-key: {{ .Values.config.azureOpenai.apiKey | b64enc | quote }}
{{- end }}

{{- if .Values.config.bedrock.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "airia-infrastructure-validation.fullname" . }}-bedrock
  namespace: {{ include "airia-infrastructure-validation.namespace" . }}
  labels:
    {{- include "airia-infrastructure-validation.labels" . | nindent 4 }}
type: Opaque
data:
  access-key-id: {{ .Values.config.bedrock.accessKeyId | b64enc | quote }}
  secret-access-key: {{ .Values.config.bedrock.secretAccessKey | b64enc | quote }}
{{- end }}

{{- if .Values.config.openaiDirect.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "airia-infrastructure-validation.fullname" . }}-openai-direct
  namespace: {{ include "airia-infrastructure-validation.namespace" . }}
  labels:
    {{- include "airia-infrastructure-validation.labels" . | nindent 4 }}
type: Opaque
data:
  api-key: {{ .Values.config.openaiDirect.apiKey | b64enc | quote }}
{{- end }}

{{- if .Values.config.anthropic.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "airia-infrastructure-validation.fullname" . }}-anthropic
  namespace: {{ include "airia-infrastructure-validation.namespace" . }}
  labels:
    {{- include "airia-infrastructure-validation.labels" . | nindent 4 }}
type: Opaque
data:
  api-key: {{ .Values.config.anthropic.apiKey | b64enc | quote }}
{{- end }}

{{- if .Values.config.gemini.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "airia-infrastructure-validation.fullname" . }}-gemini
  namespace: {{ include "airia-infrastructure-validation.namespace" . }}
  labels:
    {{- include "airia-infrastructure-validation.labels" . | nindent 4 }}
type: Opaque
data:
  api-key: {{ .Values.config.gemini.apiKey | b64enc | quote }}
{{- end }}

{{- if .Values.config.mistral.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "airia-infrastructure-validation.fullname" . }}-mistral
  namespace: {{ include "airia-infrastructure-validation.namespace" . }}
  labels:
    {{- include "airia-infrastructure-validation.labels" . | nindent 4 }}
type: Opaque
data:
  api-key: {{ .Values.config.mistral.apiKey | b64enc | quote }}
{{- end }}

{{- if .Values.config.visionModel.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "airia-infrastructure-validation.fullname" . }}-vision-model
  namespace: {{ include "airia-infrastructure-validation.namespace" . }}
  labels:
    {{- include "airia-infrastructure-validation.labels" . | nindent 4 }}
type: Opaque
data:
  api-key: {{ .Values.config.visionModel.apiKey | b64enc | quote }}
{{- end }}

{{- if .Values.config.dedicatedEmbedding.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "airia-infrastructure-validation.fullname" . }}-dedicated-embedding
  namespace: {{ include "airia-infrastructure-validation.namespace" . }}
  labels:
    {{- include "airia-infrastructure-validation.labels" . | nindent 4 }}
type: Opaque
data:
  api-key: {{ .Values.config.dedicatedEmbedding.apiKey | b64enc | quote }}
{{- end }}

{{- if .Values.config.documentIntelligence.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "airia-infrastructure-validation.fullname" . }}-doc-intel
  namespace: {{ include "airia-infrastructure-validation.namespace" . }}
  labels:
    {{- include "airia-infrastructure-validation.labels" . | nindent 4 }}
type: Opaque
data:
  api-key: {{ .Values.config.documentIntelligence.apiKey | b64enc | quote }}
{{- end }}

{{- if .Values.config.s3Compatible.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "airia-infrastructure-validation.fullname" . }}-s3c
  namespace: {{ include "airia-infrastructure-validation.namespace" . }}
  labels:
    {{- include "airia-infrastructure-validation.labels" . | nindent 4 }}
type: Opaque
data:
  access-key: {{ .Values.config.s3Compatible.accessKey | b64enc | quote }}
  secret-key: {{ .Values.config.s3Compatible.secretKey | b64enc | quote }}
{{- end }}

{{- if .Values.config.s3.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "airia-infrastructure-validation.fullname" . }}-s3
  namespace: {{ include "airia-infrastructure-validation.namespace" . }}
  labels:
    {{- include "airia-infrastructure-validation.labels" . | nindent 4 }}
type: Opaque
data:
  access-key-id: {{ .Values.config.s3.accessKeyId | b64enc | quote }}
  secret-access-key: {{ .Values.config.s3.secretAccessKey | b64enc | quote }}
  {{- if .Values.config.s3.sessionToken }}
  session-token: {{ .Values.config.s3.sessionToken | b64enc | quote }}
  {{- end }}
{{- end }}

